# Object files
*.o
*.ko
*.obj
*.elf
*.dep
*.crf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64s

# Debug files
*.dSYM/

# Temporary files
*.TMP

*.uvguix.*
*.swp
*.htm
*.axf

.DS_Store